/* Write your CSS here */
.todo-container {
  font-family: 'Roboto';
  display: flex;
  margin: 5px;
}

.todo-item {
  color: #000000;
  font-size: 20px;
  width: 90%;
}

.button {
  background-color: #ffffff;
  color: #ff8542;
  border: 3px solid #ff8542;
  margin-left: 40px;
  border-radius: 10px;
  width: 70px;
  height: 40px;
}
